html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #efecff;
    color: #0d0149;
}

header {
    background-color: #efecff;
    background-size: cover;
    color: #0d0149;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #efecff;
    font-size: 21pt;
    height: 40px;
}

nav a:hover {
    color: #0d0149;
}

h1 {
    margin-top: 0;
    margin-left: 20px;
    color: #efecff;
    font-size: 50pt;
    width: 40%;
}

main {
    padding: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
    text-indent: 20px;
}